<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
  		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
  		<property name="hibernate.show.sql">false</property>
  
        <mapping class="caim.study.jee.entities.Account"/>
		<mapping class="caim.study.jee.entities.AccountRegistration"/>
		<mapping class="caim.study.jee.entities.AccountRole"/>
		<mapping class="caim.study.jee.entities.Answer"/>
		<mapping class="caim.study.jee.entities.Question"/>
		<mapping class="caim.study.jee.entities.Role"/>
		<mapping class="caim.study.jee.entities.Test"/>
		<mapping class="caim.study.jee.entities.TestResult"/>
    </session-factory>
</hibernate-configuration>